* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #af4c93;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

select, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #af4c93;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a04594;
}

#risultatoUnita {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

img{
    width: 5%;
    height: auto;
    object-fit: cover;
}